<div class="container">
    <div class="row">
        <div class="card col-md-8 mx-auto col-12 shadow bg-body border-white">
            <form [formGroup]="form" (ngSubmit)="onsubmit(form)"
                class="d-flex flex-column">
                <app-input
                fieldPlaceholder="Username..."
                fieldType="text"
                [form]="form"
                title="Name"
                id="login__username"
                control="username"
              />
          
              <app-input
                fieldPlaceholder="••••••••"
                fieldType="password"
                [form]="form"
                title="Password"
                id="login__password"
                control="password"
              />
        
                <div class="m-2 text-center">
                    <app-button text="submit" extraClass="btn-main-primary text-uppercase px-4 ms-lg-3" [disabled]="form.invalid || isLoading()"/>
            
                </div>
            </form>
        </div>
    </div>
</div>