/* You can add global styles to this file, and also import other style files */
body{
    background-color: #ececec91 !important;
}
.color-primary {
  color: #7952b3 !important;
}

.cursor-pointer{
    cursor: pointer;
}

.w-9rem {
  width: 9rem;
  max-width: 100%;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
